.contenedor{

    display:flex;

    height:100vh;

}

aside{

    width:220px;

    background:#23395d;

    color:white;

    display:flex;

    flex-direction:column;

    padding:20px;

}

aside h2{

    margin-bottom:30px;

}

aside a{

    color:white;

    text-decoration:none;

    margin-bottom:15px;

    padding:10px;

    border-radius:6px;

}

aside a:hover{

    background:#355c8a;

}

button{

    margin-top:auto;

    padding:10px;

    cursor:pointer;

}

main{

    flex:1;

    padding:25px;

    background:#f3f3f3;

}